Package: com.rpgfarm.a-font
Name: A-Font
Depends: mobilesubstrate, preferenceloader
Version: 2.0.1
Architecture: iphoneos-arm
Description: Change your font!
Maintainer: m4fn3
Author: Baw Appie <pp121324@gmail.com>
Section: Tweaks
